## Python Basics

### Math Operators

From **Highest** to **Lowest** precedence:

| Operators | Operation        | Example         |
| --------- | ---------------- | --------------- |
| **        | Exponent         | `2 ** 3 = 8`    |
| %         | Modulus/Remaider | `22 % 8 = 6`    |
| //        | Integer division | `22 // 8 = 2`   |
| /         | Division         | `22 / 8 = 2.75` |
| *         | Multiplication   | `3 * 3 = 9`     |
| -         | Subtraction      | `5 - 2 = 3`     |
| +         | Addition         | `2 + 2 = 4`     |

Examples of expressions in the interactive shell:

In [1]:
2 + 3 * 6

20

In [2]:
(2 + 3) * 6

30

In [3]:
2 ** 8

256

In [5]:
23 // 7

3

In [6]:
23 % 7

2

In [7]:
(5 - 1) * ((7 + 1) / (3 - 1))

16.0

### Data Types

| Data Type              | Examples                                  |
| ---------------------- | ----------------------------------------- |
| Integers               | `-2, -1, 0, 1, 2, 3, 4, 5`                |
| Floating-point numbers | `-1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25` |
| Strings                | `'a', 'aa', 'aaa', 'Hello!', '11 cats'`   |

### String Concatenation and Replication

String concatenation:

In [8]:
'Alice' 'Bob'

'AliceBob'

Note: Avoid `+` operator for string concatenation. Prefer string formatting.

String Replication:

In [9]:
'Alice' * 5

'AliceAliceAliceAliceAlice'

### Variables

You can name a variable anything as long as it obeys the following three rules:

1. It can be only one word.
2. It can use only letters, numbers, and the underscore (`_`) character.
3. It can’t begin with a number.
4. Variable name starting with an underscore (`_`) are considered as "unuseful`.

Example:

In [10]:
spam = 'Hello'

In [11]:
_spam = 'Hello'

`_spam` should not be used again in the code.

### Comments

Inline comment:

In [12]:
# This is a comment

Multiline comment:

In [13]:
# This is a
# multiline comment

Code with a comment:

In [14]:
a = 1  # initialization

Please note the two spaces in front of the comment.

Function docstring:

In [ ]:
def foo():
    """
    This is a function docstring
    You can also use:
    ''' Function Docstring '''
    """

### The print Function

In [15]:
print('Hello world!')

Hello world!

In [16]:
a = 1
print('Hello world!', a)

Hello world! 1

### The input Function

Example Code:

In [17]:
print('What is your name?')   # ask for their name
myName = input()
print('It is good to meet you, {}'.format(myName))

What is your name?
It is good to meet you, Arslan

### The len Function

Evaluates to the integer value of the number of characters in a string:

In [18]:
len('hello')

5

Note: test of emptiness of strings, lists, dictionary, etc, should **not** use len, but prefer direct
boolean evaluation.

In [19]:
a = [1, 2, 3]
if a:
    print("the list is not empty!")

the list is not empty!

### The str, int, and float Functions

Integer to String or Float:

In [20]:
str(29)

'29'

In [22]:
print('I am {} years old.'.format(str(26)))

I am 26 years old.

In [23]:
str(-3.14)

'-3.14'

Float to Integer:

In [24]:
int(7.7)

7

In [25]:
int(7.7) + 1

8

## Flow Control

### if Statements

In [47]:
name = "Arslan"
if name == 'Arslan':
    print('Hi, Arslan.')

Hi, Arslan.

### else Statements

In [48]:
name = 'Arslan'

if name == 'Arslan':
    print('Hi, Arslan.')
else:
    print('Hello, stranger.')

Hi, Arslan.

### elif Statements

In [49]:
name = 'babaji'
age = 5

if name == 'Arslan':
    print('Hi, Arslan.')
elif age < 12:
    print('You are not Arslan, kiddo.')

You are not Arslan, kiddo.

In [37]:
name = 'Baba'
age = 30

if name == 'Arslan':
    print('Hi, Arslan.')
elif age < 12:
    print('You are not Arslan, kiddo.')
else:
    print('You are neither Arslan nor a little kid.')

You are neither Arslan nor a little kid.

### while Loop Statements

In [38]:
spam = 0

while spam < 5:
    print('Hello, world.')
    spam = spam + 1

Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.

### break Statements

 If the execution reaches a break statement, it immediately exits the while loop’s clause:

In [39]:
while True:
    print('Please type your name.')
    name = input()
    if name == 'Arslan':
        break

print('Thank you!')

Please type your name.
Thank you!

### continue Statements

When the program execution reaches a continue statement, the program execution immediately jumps back to the start of the loop.

In [50]:
while True:
    print('Who are you?')
    name = input()
    if name != 'Arslan':
        continue
    print('Hello, Arslan. What is the password? (It is a fish.)')
    password = input()
    if password == 'babaji':
        break

print('Access granted.')

Who are you?
Hello, Arslan. What is the password? (It is a fish.)
Access granted.

### for Loops and the range() Function

In [41]:
print('My name is')
for i in range(5):
    print('Arslan Five Times ({})'.format(str(i)))

My name is
Arslan Five Times (0)
Arslan Five Times (1)
Arslan Five Times (2)
Arslan Five Times (3)
Arslan Five Times (4)

The *range()* function can also be called with three arguments. The first two arguments will be the start and stop values, and the third will be the step argument. The step is the amount that the variable is increased by after each iteration.

In [42]:
for i in range(0, 10, 2):
   print(i)

0
2
4
6
8

You can even use a negative number for the step argument to make the for loop count down instead of up.

In [43]:
for i in range(5, -1, -1):
    print(i)

5
4
3
2
1
0

### For else statement

This allows to specify a statement to execute in case of the full loop has been executed. Only
useful when a `break` condition can occur in the loop:

In [44]:
for i in [1, 2, 3, 4, 5]:
   if i == 3:
       break
else:
   print("only executed when no item of the list is equal to 3")

## Functions

In [46]:
def hello(name):
    print('Hello {}'.format(name))

hello('Arslan')
hello('babaji')

Hello Arslan
Hello babaji

### Return Values and return Statements

When creating a function using the def statement, you can specify what the return value should be with a return statement. A return statement consists of the following:

- The return keyword.

- The value or expression that the function should return.

In [51]:
import random
def getAnswer(answerNumber):
    if answerNumber == 1:
        return 'It is certain'
    elif answerNumber == 2:
        return 'It is decidedly so'
    elif answerNumber == 3:
        return 'Yes'
    elif answerNumber == 4:
        return 'Reply hazy try again'
    elif answerNumber == 5:
        return 'Ask again later'
    elif answerNumber == 6:
        return 'Concentrate and ask again'
    elif answerNumber == 7:
        return 'My reply is no'
    elif answerNumber == 8:
        return 'Outlook not so good'
    elif answerNumber == 9:
        return 'Very doubtful'

r = random.randint(1, 9)
fortune = getAnswer(r)
print(fortune)

Ask again later

### The None Value

In [52]:
spam = print('Hello!')
spam is None

Hello!

True

Note: never compare to `None` with the `==` operator. Always use `is`.

### print Keyword Arguments

In [53]:
print('Hello', end='')
print('World')

HelloWorld

In [54]:
print('cats', 'dogs', 'mice')

cats dogs mice

In [55]:
print('cats', 'dogs', 'mice', sep=',')

cats,dogs,mice

## Lists

In [56]:
['cat', 'bat', 'rat', 'elephant']

['cat', 'bat', 'rat', 'elephant']

### Getting Individual Values in a List with Indexes

In [57]:
spam = ['cat', 'bat', 'rat', 'elephant']
spam[0]

'cat'

In [58]:
spam[1]

'bat'

In [59]:
spam[2]

'rat'

In [60]:
spam[3]

'elephant'

### Negative Indexes

In [62]:
spam = ['cat', 'bat', 'rat', 'elephant']
spam[-1]

'elephant'

In [63]:
spam[-3]

'bat'

In [64]:
'The {} is afraid of the {}.'.format(spam[-1], spam[-3])

'The elephant is afraid of the bat.'

### Getting Sublists with Slices

In [65]:
spam = ['cat', 'bat', 'rat', 'elephant']
spam[0:4]

['cat', 'bat', 'rat', 'elephant']

In [66]:
spam[1:3]

['bat', 'rat']

In [67]:
spam[0:-1]

['cat', 'bat', 'rat']

In [68]:
spam = ['cat', 'bat', 'rat', 'elephant']
spam[:2]

['cat', 'bat']

In [69]:
spam[1:]

['bat', 'rat', 'elephant']

In [70]:
spam[:]

['cat', 'bat', 'rat', 'elephant']

### Getting a list Length with len

In [71]:
spam = ['cat', 'dog', 'moose']
len(spam)

3

### Changing Values in a List with Indexes

In [72]:
spam = ['cat', 'bat', 'rat', 'elephant']
spam[1] = 'aardvark'
spam

['cat', 'aardvark', 'rat', 'elephant']

In [73]:
spam[2] = spam[1]
spam

['cat', 'aardvark', 'aardvark', 'elephant']

In [74]:
spam[-1] = 12345
spam

['cat', 'aardvark', 'aardvark', 12345]

### List Concatenation and List Replication

In [75]:
[1, 2, 3] + ['A', 'B', 'C']

[1, 2, 3, 'A', 'B', 'C']

In [76]:
['X', 'Y', 'Z'] * 3

['X', 'Y', 'Z', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

In [77]:
spam = [1, 2, 3]
spam = spam + ['A', 'B', 'C']
spam

[1, 2, 3, 'A', 'B', 'C']

### Removing Values from Lists with del Statements

In [78]:
spam = ['cat', 'bat', 'rat', 'elephant']
del spam[2]
spam

['cat', 'bat', 'elephant']

In [79]:
del spam[2]
spam

['cat', 'bat']

### Using for Loops with Lists

In [80]:
supplies = ['pens', 'staplers', 'flame-throwers', 'binders']

for i, supply in enumerate(supplies):
    print('Index {} in supplies is: {}'.format(str(i), supply))

Index 0 in supplies is: pens
Index 1 in supplies is: staplers
Index 2 in supplies is: flame-throwers
Index 3 in supplies is: binders

### Looping Through Multiple Lists with zip

In [82]:
name = ['Arslan', 'babaji', 'ali']
age = [6, 23, 44]

for n, a in zip(name, age):
    print('{} is {} years old'.format(n, a))

Arslan is 6 years old
babaji is 23 years old
ali is 44 years old

### The in and not in Operators

In [83]:
'howdy' in ['hello', 'hi', 'howdy', 'heyas']

True

In [84]:
spam = ['hello', 'hi', 'howdy', 'heyas']
False

False

In [85]:
'howdy' not in spam

False

In [86]:
'cat' not in spam

True

### The Multiple Assignment Trick

The multiple assignment trick is a shortcut that lets you assign multiple variables with the values in a list in one line of code. So instead of doing this:

In [87]:
cat = ['fat', 'orange', 'loud']
size = cat[0]
color = cat[1]
disposition = cat[2]

You could type this line of code:

In [88]:
cat = ['fat', 'orange', 'loud']
size, color, disposition = cat

The multiple assignment trick can also be used to swap the values in two variables:

In [89]:
a, b = 'Alice', 'Bob'
a, b = b, a
print(a)

Bob

In [90]:
print(b)

Alice

### Augmented Assignment Operators

| Operator    | Equivalent        |
| ----------- | ----------------- |
| `spam += 1` | `spam = spam + 1` |
| `spam -= 1` | `spam = spam - 1` |
| `spam *= 1` | `spam = spam * 1` |
| `spam /= 1` | `spam = spam / 1` |
| `spam %= 1` | `spam = spam % 1` |

Examples:

In [91]:
spam = 'Hello'
spam += ' world!'
spam

'Hello world!'

In [92]:
bacon = ['Zophie']
bacon *= 3
bacon

['Zophie', 'Zophie', 'Zophie']

### Finding a Value in a List with the index Method

In [93]:
spam = ['Zophie', 'Pooka', 'Fat-tail', 'Pooka']
spam.index('Pooka')

1

### Adding Values to Lists with append and insert

**append()**:

In [94]:
spam = ['cat', 'dog', 'bat']
spam.append('moose')
spam

['cat', 'dog', 'bat', 'moose']

**insert()**:

In [95]:
spam = ['cat', 'dog', 'bat']
spam.insert(1, 'chicken')
spam

['cat', 'chicken', 'dog', 'bat']

### Removing Values from Lists with remove

In [96]:
spam = ['cat', 'bat', 'rat', 'elephant']
spam.remove('bat')
spam

['cat', 'rat', 'elephant']

If the value appears multiple times in the list, only the first instance of the value will be removed.

### Sorting the Values in a List with sort

In [97]:
spam = [2, 5, 3.14, 1, -7]
spam.sort()
spam

[-7, 1, 2, 3.14, 5]

In [98]:
spam = ['ants', 'cats', 'dogs', 'badgers', 'elephants']
spam.sort()
spam

['ants', 'badgers', 'cats', 'dogs', 'elephants']

You can also pass True for the reverse keyword argument to have sort() sort the values in reverse order:

In [99]:
spam.sort(reverse=True)
spam

['elephants', 'dogs', 'cats', 'badgers', 'ants']

If you need to sort the values in regular alphabetical order, pass str. lower for the key keyword argument in the sort() method call:

In [100]:
spam = ['a', 'z', 'A', 'Z']
spam.sort(key=str.lower)
spam

['a', 'A', 'z', 'Z']

You can use the built-in function `sorted` to return a new list:

In [101]:
spam = ['ants', 'cats', 'dogs', 'badgers', 'elephants']
sorted(spam)

['ants', 'badgers', 'cats', 'dogs', 'elephants']

## Tuple Data Type

In [102]:
eggs = ('hello', 42, 0.5)
eggs[0]

'hello'

In [103]:
eggs[1:3]

(42, 0.5)

In [104]:
len(eggs)

3

The main way that tuples are different from lists is that tuples, like strings, are immutable.

## Converting Types with the list and tuple Functions

In [105]:
tuple(['cat', 'dog', 5])

('cat', 'dog', 5)

In [106]:
list(('cat', 'dog', 5))

['cat', 'dog', 5]

In [107]:
list('hello')

['h', 'e', 'l', 'l', 'o']

## Dictionaries and Structuring Data

Example Dictionary:

In [108]:
myCat = {'size': 'fat', 'color': 'gray', 'disposition': 'loud'}

### The keys, values, and items Methods

values():

In [109]:
spam = {'color': 'red', 'age': 42}

for v in spam.values():
    print(v)

red
42

keys():

In [110]:
for k in spam.keys():
    print(k)

color
age

items():

In [111]:
for i in spam.items():
    print(i)

('color', 'red')
('age', 42)

Using the keys(), values(), and items() methods, a for loop can iterate over the keys, values, or key-value pairs in a dictionary, respectively.

In [112]:
spam = {'color': 'red', 'age': 42}

for k, v in spam.items():
    print('Key: {} Value: {}'.format(k, str(v)))

Key: color Value: red
Key: age Value: 42

### Checking if a Key or Value Exists in a Dictionary

In [113]:
spam = {'name': 'Zophie', 'age': 7}
'name' in spam.keys()

True

In [114]:
'Zophie' in spam.values()

True

In [115]:
# You can omit the call to keys() when checking for a key
'color' in spam

False

In [116]:
'color' not in spam

True

In [117]:
'color' in spam

False

### The get Method

In [118]:
picnic_items = {'apples': 5, 'cups': 2}
'I am bringing {} cups.'.format(str(picnic_items.get('cups', 0)))

'I am bringing 2 cups.'

In [119]:
'I am bringing {} eggs.'.format(str(picnic_items.get('eggs', 0)))

'I am bringing 0 eggs.'

### The setdefault Method

Let's consider this code:

In [120]:
spam = {'name': 'Pooka', 'age': 5}
if 'color' not in spam:
    spam['color'] = 'black'

Using `setdefault` we could make the same code more shortly:

In [121]:
spam = {'name': 'Pooka', 'age': 5}
spam.setdefault('color', 'black')

'black'

In [122]:
spam

{'name': 'Pooka', 'age': 5, 'color': 'black'}

In [123]:
spam.setdefault('color', 'white')

'black'

In [124]:
spam

{'name': 'Pooka', 'age': 5, 'color': 'black'}

### Merge two dictionaries

In [125]:

x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
z = {**x, **y}
z

{'a': 1, 'b': 3, 'c': 4}

## sets

From the Python 3 [documentation](https://docs.python.org/3/tutorial/datastructures.html)

> A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

### Initializing a set

There are two ways to create sets: using curly braces `{}` and the bult-in function `set()`

In [126]:
s = {1, 2, 3}
s = set([1, 2, 3])

When creating an empty set, be sure to not use the curly braces `{}`  or you will get an empty dictionary instead.

In [127]:
s = {}
type(s)

dict

### sets: unordered collections of unique elements

A set automatically remove all the duplicate values.

In [128]:
s = {1, 2, 3, 2, 3, 4}
s

{1, 2, 3, 4}

### set add and update

Using the `add()` method we can add a single element to the set.

In [132]:
s = {1, 2, 3}
s.add(4)
s

{1, 2, 3, 4}

And with `update()`, multiple ones .

In [133]:
s = {1, 2, 3}
s.update([2, 3, 4, 5, 6])
s  # remember, sets automatically remove duplicates

{1, 2, 3, 4, 5, 6}

### set remove and discard

Both methods will remove an element from the set, but `remove()` will raise a `key error` if the value doesn't exist.

In [134]:
s = {1, 2, 3}
s.remove(3)
s

{1, 2}

`discard()` won't raise any errors.

In [136]:
s = {1, 2, 3}
s.discard(3)
s

{1, 2}

In [137]:
s.discard(3)

### set union

`union()` or `|` will create a new set that contains all the elements from the sets provided.

In [138]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.union(s2)  # or 's1 | s2'

{1, 2, 3, 4, 5}

### set intersection

`intersection`  or `&`  will return a set containing only the elements that are common to all of them.

In [139]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}
s1.intersection(s2, s3)  # or 's1 & s2 & s3'

{3}

### set difference

`difference` or `-` will return only the elements that are in one of the sets.

In [140]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.difference(s2)  # or 's1 - s2'

{1}

### set symetric_difference

`symetric_difference` or `^` will return all the elements that are not common between them.

In [141]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.symmetric_difference(s2)  # or 's1 ^ s2'

{1, 4}

## Comprehensions

### List comprehension

In [142]:
a = [1, 3, 5, 7, 9, 11]
[i - 1 for i in a]

[0, 2, 4, 6, 8, 10]

### Set comprehension

In [143]:
b = {"abc", "def"}
{s.upper() for s in b}

{'ABC', 'DEF'}

### Dict comprehension

In [145]:
c = {'name': 'Pooka', 'age': 5}
{k, v in c.items()}

{False, 'age'}